<link rel="stylesheet" href="styles.css">

<div class="container">
  <div class="timeline">
    <ul>
      <li>
        <div class="timeline-content">
          <h1>Production</h1>
          <p>For the process of production to start it is essential that proper planning and supply of goods,
            as well as the inventory, are well maintained.
            The production of goods is followed by testing,
            packaging and the final preparation for delivery of the finished product.</p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Transformation</h1>
          <p>Transportation is vital in terms of carrying raw materials to the manufacturing unit and delivering the final product to the market.
            At each stage, timely transportation of goods is mandatory to sustain a smooth business process.
            Any business which pays attention to this component,
            and takes good care of it,
            will benefit from the production and transportation of its goods on time.</p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Packaging & Certification</h1>
          <p>Packaging today involves far more than boxes and bags,
            but even though there has been an incredible revolution in the industry,
            the optimization of packaging still needs to be at
            the center of any efforts to enhance one’s supply chain management.</p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Distribution</h1>
          <p>Distribution occurs between every pair of stages in the supply chain. Raw materials
            and components are moved from suppliers to manufacturers, whereas finished
            products are moved from the manufacturer to the end consumer. </p>
        </div>
      </li>
      <li>
        <div class="timeline-content">
          <h1>Retail</h1>
          <p>Your retail supply chain is the processes you use to get your products to your consumers.
            It encompasses everything from obtaining the raw materials to make your product to delivering that product into your shoppers’ hands.</p>
        </div>
      </li>
    </ul>
  </div>
</div>